<div class="public offset-md-2 col-md-8">
  <div class="d-flex pt-5 justify-content-center">
    <h1>Public page</h1>
  </div>
  <div class="pt-2">
    <p>This page is publicly available and does not require any authentication!</p>
    <p class="align-content-start">You are currently:</p>

    <p>Click here to go to a private page that requires authentication: <a routerLink="/chuck" routerLinkActive="active">private page</a></p>
    <p>Click here to go to the login page: <a routerLink="/login" routerLinkActive="active">login page</a></p>
  </div>
</div>